# Network & Blockfrost
NETWORK=mainnet                      # or preprod
BLOCKFROST_PROJECT_ID=YOUR_MAINNET_BLOCKFROST_KEY

# Multisig config (defaults; can also be supplied per /api/create call)
MULTISIG_ADDRESS=addr1xx...          # the multisig payment address
PAYMENT_SCRIPT_CBOR=82018183030385...# CBOR hex of the *payment* native script
M_REQUIRED=3                         # e.g., 3-of-5
REQUIRED_KEY_HASHES=f95cb3bc90e3fdb3db4a98ed64a77762daa891c7af7138d45e38adb7,ce47160d060f7dd4da1a268caa0b98b1ce17a46a30f66939a26abd6e,22c601535ab5159654c1d0d56fae298e56b84af96325a4b2772ab014,355901496a2d2ab115cdaa28aa3f14e2d78aa328139f00b01d2bccf7,20ce5b4341421c7c3f9aa03ea0413c10d2b975a8bd4fde6b43a0444a

# Destination for *sendAll* mode (sweep)
DEST_ADDRESS=addr1q...               # ***ALL ADA + ALL TOKENS go here***

# CORS / Server
ALLOWED_ORIGIN=*
PORT=3000
